body {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    font-family: Verdana;
}

@font-face {
    font-family: headerfont;
    src: url(../fonts/Lobster_1.3.otf);
}

header {
    font-weight: bold;
}

.headerlogo {
    float: left;
    margin-right: 10px;
}

    .headerlogo > img {
        height: 60px;
        width: 60px;
    }

#mainHeader {
    height: 250px;
}


.searchbox {
    float: right;
    padding: 5px;
    margin: 10px 10px;
    width: 200px;
}

#headername {
    font-family: headerfont;
    font-size: 40px;
    color: #603813;
    padding: 15px;
    margin: 8px 0px;
    font-weight: bold;
    text-shadow: 5px 5px 5px #5f2c17;
}

#welcomimage {
    float: left;
    width: 700px;
}

#coffeeofthemonth {
    float: right;
    width: 300px;
}

#welcometext {
    float: left;
    width: 70%;
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 20px;
    column-count: 2;
    -webkit-column-count: 2;
    /*or alternate way to get columns and spacing*/
    /*column-width:200px;
    column-gap:40px;*/
}

    #welcometext > header {
        color: #603813;
        font-size: 15px;
        font-weight: bold;
        margin-bottom: 3px;
    }

#events {
    float: right;
    width: 30%;
    margin-top: 20px;
    margin-bottom: 20px;
}

    #events > header {
        margin-left: 10px;
        color: #603813;
        font-size: 15px;
        font-weight: bold;
        margin-bottom: 3px;
    }

    #events > ul {
        list-style: none;
    }

        #events > ul > li {
            margin-bottom: 3px;
        }

#bestsellers {
    height: 100%;
    width: 700px;
    float: left;
    margin-bottom: 20px;
}


.textlabel {
    margin: 0;
    padding: 0;
    display: block;
    font-size: 100%;
    padding-top: .1em;
    padding-right: .25em;
    width: 6em;
    text-align: right;
    float: left;
}

.textinput input,
.textinput textarea {
    margin: 0;
    padding: 0;
    display: block;
    font-size: 100%;
}

input:active,
input:focus,
input:hover,
textarea:active,
textarea:focus,
textarea:hover {
    background-color: lightyellow;
    border-color: yellow;
}

.backgroundgradients {
    /*background:  #603813*/
    background: -webkit-linear-gradient(left,#603813, #321c05); /* For Safari 5.1 to 6.0*/
    background: -o-linear-gradient(right, #603813, #321c05); /* For Opera 11.1 to 12.0*/
    background: -moz-linear-gradient(right, #603813, #321c05); /* For Firefox 3.6 to 15*/
    background: linear-gradient(to right, #603813, #321c05);
    color: white;
    height: 40px;
}

    .backgroundgradients > ul > li {
        display: inline;
        padding-left:10px;
    }

.navlink {
    height: 35px;
    margin-right: 5px;
    font-size: 18px;
    float: left;
    padding-top: 12px;
    color: white;
    text-decoration: none;
}

    .navlink.active {
    }

.addtocartbutton {
    cursor: pointer;
    padding: 4px 25px;
    background: #603813;
    border: 1px solid #381f09;
    -moz-border-radius: 8px;
    -webkit-bordero-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0 0 4px rgba(0,0,0,.75);
    -moz-box-shadow: 0 0 4px rgba(0,0,0,.75);
    box-shadow: 0 0 4px rgba(0,0,0,.75);
    color: #F3F3F3;
    font-size: 0.8em;
    width: 80px;
}

    .addtocartbutton:hover, .addtocartbutton:focus {
        background-color: #512c0a;
        -webkit-box-shadow: 0 0 1px rgba(0,0,0,.75);
        -moz-box-shadow: 0 0 1px rgba(0,0,0,.75);
        box-shadow: 0 0 1px rgba(0,0,0,.75);
    }

.productarticlemoreinfo {
    font-size: 12px;
    color: #603813;
    margin-top: 5px;
}

footer {
    clear: both;
    width: 100%;
    background-color: #5c5045;
    margin: 20px 0px 20px;
    padding: 5px;
}

.smalltext {
    font-size: 10px;
}


/* All coffees page styles*/
.blockheader {
    font-size: 30px;
    font-family: headerfont;
    margin-top: 20px;
}
